<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Add a To-Do</span>
          <form #todoForm="ngForm" (ngSubmit)="addTodo(todoForm)">
            <input
              type="hidden"
              name="_id"
              #_id="ngModel"
              [(ngModel)]="todoService.selectedTodo._id"
            />
            <div class="row">
              <div class="input-field col s6">
                <input
                  type="text"
                  name="todo"
                  #todo="ngModel"
                  [(ngModel)]="todoService.selectedTodo.todo"
                  placeholder="Task"
                />
              </div>
              <div class="input-field col s2">
                <select
                  type="text"
                  id="selector"
                  name="priority"
                  #priority="ngModel"
                  [(ngModel)]="todoService.selectedTodo.priority"
                  class="browser-default"
                >
                  <option value="" disabled selected>Priority</option>
                  <option value="Alta">Alta</option>
                  <option value="Media">Media</option>
                  <option value="Baja">Baja</option>
                </select>
              </div>
              <div class="input-field col s4">
                <input
                  type="date"
                  name="dueDate"
                  #dueDate="ngModel"
                  [ngModel]="
                    todoService.selectedTodo.dueDate | date: 'yyyy-MM-dd'
                  "
                  (ngModel)="todoService.selectedTodo.dueDate = $event"
                />
              </div>
              <div class="card-action">
                <div class="pinput-field col s12">
                  <button class="btn right">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table>
        <thead>
          <th>Task</th>
          <th>Priority</th>
          <th>Due Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todoService.todo">
            <td>{{ todo.todo }}</td>
            <td>{{ todo.priority }}</td>
            <td>{{ formattedDate(todo.dueDate) }}</td>
            <td>
              <a (click)="editTodo(todo)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteTodo(todo._id)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
